{% include "header.html" %}
<div class="container my-5">
  <div class="p-5 text-center bg-light rounded-4 shadow-sm">
    <img
      src="https://png.pngtree.com/png-clipart/20250102/original/pngtree-3d-party-popper-emoji-celebration-png-image_20018972.png"
      alt="celebration emoji"
      class="img-fluid mb-4"
      style="max-width: 200px; height: auto;"
    >

    <h1 class="text-success fw-bold">Order Confirmed!</h1>

    <p class="col-lg-8 mx-auto fs-5 text-muted">
      Your order has been placed and will be delivered soon. Your delivery address and order details have been sent to your email.
      <br><strong>Enjoy your meal!</strong>
    </p>
  </div>
</div>
{% include "footer.html" %}
